.NavbarContainer{   
width: 100%;
height: 100%;
}

.Navbar nav{    
    padding: 0;
    margin:0;
    display: block;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
.Navbar ul{
    list-style: none;
    margin: 0;
    padding:0;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
}

.Navbar li a{
    float: left;
    font-size: 19px;
    font-weight: 700;
    padding: 16.5px 20px;
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.Navbar li a:hover{
    background-color:black;
}

.Burger{
    float: right;
    width: 30px;
    padding:13px 20px;
    cursor: pointer;
}
.Burger:hover{
    background-color:black;
}

.Burger div{
    height: 3px;
    width: 90%;
    background-color:white;
    margin: 5px;

}

.SideBar{   
    width: 400px;
    height: 600px;
    background-image: linear-gradient(rgba(34, 34, 34, 0.787) 40%, black );
    right:0;
    transform: 300ms;
    position: fixed;
    margin-top: 55px;
}